In [1]:
esquema_json = {'collection_date': '2021/04/13', 'common_name': 'PEPITO', 'experiment_alias': '', 'experiment_title': 'Example project for ENA submission RELECOV', 'fastq_r1_md5': 'f2facbd1d6c7e0972074ced31ccbfd8e', 'fastq_r2_md5': 'fd9948be8da7a38b0f80659dfc21aeea', 'geographic location (latitude)': '41.6483', 'geographic location (longitude)': '-0.8830', 'geographic_location_(country_and/or_sea)': 'Spain', 'host_common_name': 'Human', 'host_gender': 'Mujer', 'host_scientific_name': 'Homo Sapiens', 'instrument_model': 'Illumina MiSeq', 'instrument_platform': 'Illumina', 'isolate': '1197860', 'isolation source host-associated': 'Nasopharynx aspirate', 'isolation source non-host-associated': 'Other', 'library_layout': 'Single End', 'library_selection': 'RT-PCR', 'library_source': 'RNA', 'library_strategy': 'WGS strategy', 'purpose_sampling': 'Surveillance', 'r1_fastq_filepath': '/tmp/relecov/COD_test_01/20220408', 'r2_fastq_filepath': '/tmp/relecov/COD_test_01/20220408', 'receipt_date': '2021/05/13', 'run_alias': '', 'sample_description': 'Sample for surveillance', 'sample_name': '1197860', 'sample_storage_conditions': ' -80ºC', 'scientific_name': 'Severe acute respiratory syndrome coronavirus 2', 'sequence_file_R1_fastq': 'ABC123_S1_L001_R1_001.fastq.gz', 'sequence_file_R2_fastq': 'ABC123_S1_L001_R2_001.fastq.gz', 'study_alias': 'RELECOV', 'study_title': 'RELECOV Spanish Network for genomics surveillance', 'study_type': 'RELECOV Spanish Network for genomics surveillance', 'tax_id': '2697049'}

In [2]:
esquema_json

{'collection_date': '2021/04/13',
 'common_name': 'PEPITO',
 'experiment_alias': '',
 'experiment_title': 'Example project for ENA submission RELECOV',
 'fastq_r1_md5': 'f2facbd1d6c7e0972074ced31ccbfd8e',
 'fastq_r2_md5': 'fd9948be8da7a38b0f80659dfc21aeea',
 'geographic location (latitude)': '41.6483',
 'geographic location (longitude)': '-0.8830',
 'geographic_location_(country_and/or_sea)': 'Spain',
 'host_common_name': 'Human',
 'host_gender': 'Mujer',
 'host_scientific_name': 'Homo Sapiens',
 'instrument_model': 'Illumina MiSeq',
 'instrument_platform': 'Illumina',
 'isolate': '1197860',
 'isolation source host-associated': 'Nasopharynx aspirate',
 'isolation source non-host-associated': 'Other',
 'library_layout': 'Single End',
 'library_selection': 'RT-PCR',
 'library_source': 'RNA',
 'library_strategy': 'WGS strategy',
 'purpose_sampling': 'Surveillance',
 'r1_fastq_filepath': '/tmp/relecov/COD_test_01/20220408',
 'r2_fastq_filepath': '/tmp/relecov/COD_test_01/20220408',
 'receipt_date': '2021/05/13',
 'run_alias': '',
 'sample_description': 'Sample for surveillance',
 'sample_name': '1197860',
 'sample_storage_conditions': ' -80ºC',
 'scientific_name': 'Severe acute respiratory syndrome coronavirus 2',
 'sequence_file_R1_fastq': 'ABC123_S1_L001_R1_001.fastq.gz',
 'sequence_file_R2_fastq': 'ABC123_S1_L001_R2_001.fastq.gz',
 'study_alias': 'RELECOV',
 'study_title': 'RELECOV Spanish Network for genomics surveillance',
 'study_type': 'RELECOV Spanish Network for genomics surveillance',
 'tax_id': '2697049'}

In [3]:
esquema_json.keys()

dict_keys(['collection_date', 'common_name', 'experiment_alias', 'experiment_title', 'fastq_r1_md5', 'fastq_r2_md5', 'geographic location (latitude)', 'geographic location (longitude)', 'geographic_location_(country_and/or_sea)', 'host_common_name', 'host_gender', 'host_scientific_name', 'instrument_model', 'instrument_platform', 'isolate', 'isolation source host-associated', 'isolation source non-host-associated', 'library_layout', 'library_selection', 'library_source', 'library_strategy', 'purpose_sampling', 'r1_fastq_filepath', 'r2_fastq_filepath', 'receipt_date', 'run_alias', 'sample_description', 'sample_name', 'sample_storage_conditions', 'scientific_name', 'sequence_file_R1_fastq', 'sequence_file_R2_fastq', 'study_alias', 'study_title', 'study_type', 'tax_id'])

In [4]:
llaves = list(esquema_json.keys())

In [5]:
llaves

['collection_date',
 'common_name',
 'experiment_alias',
 'experiment_title',
 'fastq_r1_md5',
 'fastq_r2_md5',
 'geographic location (latitude)',
 'geographic location (longitude)',
 'geographic_location_(country_and/or_sea)',
 'host_common_name',
 'host_gender',
 'host_scientific_name',
 'instrument_model',
 'instrument_platform',
 'isolate',
 'isolation source host-associated',
 'isolation source non-host-associated',
 'library_layout',
 'library_selection',
 'library_source',
 'library_strategy',
 'purpose_sampling',
 'r1_fastq_filepath',
 'r2_fastq_filepath',
 'receipt_date',
 'run_alias',
 'sample_description',
 'sample_name',
 'sample_storage_conditions',
 'scientific_name',
 'sequence_file_R1_fastq',
 'sequence_file_R2_fastq',
 'study_alias',
 'study_title',
 'study_type',
 'tax_id']

In [15]:
for key, value in esquema_json.items():
    print (key)

collection_date
common_name
experiment_alias
experiment_title
fastq_r1_md5
fastq_r2_md5
geographic location (latitude)
geographic location (longitude)
geographic_location_(country_and/or_sea)
host_common_name
host_gender
host_scientific_name
instrument_model
instrument_platform
isolate
isolation source host-associated
isolation source non-host-associated
library_layout
library_selection
library_source
library_strategy
purpose_sampling
r1_fastq_filepath
r2_fastq_filepath
receipt_date
run_alias
sample_description
sample_name
sample_storage_conditions
scientific_name
sequence_file_R1_fastq
sequence_file_R2_fastq
study_alias
study_title
study_type
tax_id

In [11]:
import pandas as pd

In [18]:
columnas = list(esquema_json.keys())

['collection_date',
 'common_name',
 'experiment_alias',
 'experiment_title',
 'fastq_r1_md5',
 'fastq_r2_md5',
 'geographic location (latitude)',
 'geographic location (longitude)',
 'geographic_location_(country_and/or_sea)',
 'host_common_name',
 'host_gender',
 'host_scientific_name',
 'instrument_model',
 'instrument_platform',
 'isolate',
 'isolation source host-associated',
 'isolation source non-host-associated',
 'library_layout',
 'library_selection',
 'library_source',
 'library_strategy',
 'purpose_sampling',
 'r1_fastq_filepath',
 'r2_fastq_filepath',
 'receipt_date',
 'run_alias',
 'sample_description',
 'sample_name',
 'sample_storage_conditions',
 'scientific_name',
 'sequence_file_R1_fastq',
 'sequence_file_R2_fastq',
 'study_alias',
 'study_title',
 'study_type',
 'tax_id']

In [23]:
df = pd.DataFrame.from_dict(esquema_json, orient="index")

In [25]:
df1_transposed = df.T
df1_transposed

,collection_date,common_name,experiment_alias,experiment_title,fastq_r1_md5,fastq_r2_md5,geographic location (latitude),geographic location (longitude),geographic_location_(country_and/or_sea),host_common_name,...,sample_description,sample_name,sample_storage_conditions,scientific_name,sequence_file_R1_fastq,sequence_file_R2_fastq,study_alias,study_title,study_type,tax_id
0,2021/04/13,PEPITO,,Example project for ENA submission RELECOV,f2facbd1d6c7e0972074ced31ccbfd8e,fd9948be8da7a38b0f80659dfc21aeea,41.6483,-0.8830,Spain,Human,...,Sample for surveillance,1197860,-80ºC,Severe acute respiratory syndrome coronavirus 2,ABC123_S1_L001_R1_001.fastq.gz,ABC123_S1_L001_R2_001.fastq.gz,RELECOV,RELECOV Spanish Network for genomics surveillance,RELECOV Spanish Network for genomics surveillance,2697049

In [26]:
df_study = df1_transposed[["study_alias","study_title","study_type"]]

In [27]:
df_study 
#falta study abstract y pubmed_id

,study_alias,study_title,study_type
0,RELECOV,RELECOV Spanish Network for genomics surveillance,RELECOV Spanish Network for genomics surveillance

In [28]:
df_samples = df1_transposed[['sample_name','tax_id','sample_description','collection_date','geographic_location_(country_and/or_sea)','host_common_name','host_gender','host_scientific_name','isolate' ]]

In [29]:
df_samples
#FALTA:sample_title, host_subject_id, host_health_state, collector_name, collecting institutions

,sample_name,tax_id,sample_description,collection_date,geographic_location_(country_and/or_sea),host_common_name,host_gender,host_scientific_name,isolate
0,1197860,2697049,Sample for surveillance,2021/04/13,Spain,Human,Mujer,Homo Sapiens,1197860

In [32]:
df_runs = df1_transposed[['experiment_alias','sequence_file_R1_fastq','sequence_file_R2_fastq']]
#FALTA: run alias, file_type, flie_checksum

In [33]:
df_runs

,experiment_alias,sequence_file_R1_fastq,sequence_file_R2_fastq
0,,ABC123_S1_L001_R1_001.fastq.gz,ABC123_S1_L001_R2_001.fastq.gz

In [35]:
df_runs = df1_transposed[['experiment_alias','study_title','sample_name','library_strategy', 'library_source','library_selection', 'library_layout', 'instrument_platform', 'instrument_model']]
#FALTA: sample alias lo he llamado sample name
#FALTA platform lo he llamado instrument_platform
#FALTA: design_description, library_name, 'insert_size', library_construction_protocol ,'experiemnt_title'

In [36]:
df_runs

,experiment_alias,study_title,sample_name,library_strategy,library_source,library_selection,library_layout,instrument_platform,instrument_model
0,,RELECOV Spanish Network for genomics surveillance,1197860,WGS strategy,RNA,RT-PCR,Single End,Illumina,Illumina MiSeq