In [25]:
#json to dataframe
import pandas as pd

df = pd.read_json('../example_data/ena_upload_study.json')

In [26]:
df

                                study
alias  [study_alias_4, study_alias_5]

In [39]:
lista = data["study"]["alias"]
import numpy as np
a = np.array(lista)
a.shape

(2,)

In [40]:
data

{'study': {'alias': ['study_alias_4', 'study_alias_5']}}

In [52]:
import json
# load data using Python JSON module
with open('../example_data/ena_upload.json','r') as f:
    data = json.loads(f.read())

lista = data["study"]
df_study = pd.DataFrame(lista, columns=['alias',"title","study_type","study_abstract","pubmed_id"])

#study_df pd.DataFrame(columns=["alias"], )

In [53]:
lista

{'alias': ['study_alias_4', 'study_alias_5'],
 'title': ['study_title_1', 'study_title_2'],
 'study_type': ['Transcriptome Analysis', 'RNASeq'],
 'study_abstract': ['study_abstract_1', 'study_abstract_2'],
 'pubmed_id': ['None', 'pubmed_id_2']}

In [54]:
df_study

,alias,title,study_type,study_abstract,pubmed_id
0,study_alias_4,study_title_1,Transcriptome Analysis,study_abstract_1,None
1,study_alias_5,study_title_2,RNASeq,study_abstract_2,pubmed_id_2